[submodule "data/csejhudump/COVID-19"]
	path = data/csejhudump/COVID-19
	url = https://github.com/CSSEGISandData/COVID-19.git
[submodule "data/nytimesdump"]
	path = data/nytimesdump
	url = https://github.com/nytimes/covid-19-data.git
